# Ignore sensitive and local config files
local.properties
*.keystore
google-services.json

# Ignore IDE and build system files
.idea
.gradle
.DS_Store

# Ignore build outputs
/build/
app/build/

# Ignore other config
*.json

app/src/main/assets/key_storage.json
